[Unit]
Description=Play audio over rtsp network stream. 
Wants=network-online.target
After=network.target network-online.target rc-local.service
[Service]
ExecStart=ffplay rtsp://192.168.0.12:555/bar -nodisp
#ExecStart=cvlc rtsp://192.168.0.216:554/audio
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=1
DefaultStartLimitIntervalSec=0
StartLimitBurst=99
RuntimeMaxSec=600
User=pi
[Install]
WantedBy=multi-user.target
